body {
    background: rgb(236, 236, 236);
}

#header {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    min-width: 10rem;
    min-height: max-content;
}

#header > h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-transform: uppercase;
    padding: 10px;
    border-bottom: 5px solid #000;
}

.main-container {
    margin-top: 100px;
    border-bottom: 3px solid #000;
    overflow: hidden;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px;
}

.inputbox{
    text-align: center;
    font-size: 13px;
}

.inputbox > input{
    display: grid;
    margin-left: 30px;
    margin-bottom: 10px;
    min-width: 500px;
    min-height: 50px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    border-bottom: 3px solid #000;
    border-radius: 4px 4px 0 0;
    outline: 0;
    font-size: 20px;
    padding-left: 10px;
}

.inputbox > label {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
}

#save {
    display:block;
    margin: auto;
    margin-bottom: 50px;
    min-width: 20rem;
    min-height: 3rem;
    font-size: 1.5rem;
    text-transform: capitalize;
    background: #1766CF;
    font-family: 'Dosis', sans-serif;
    color: #fff;
    border:1px solid #fff;
    border-radius: 13px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

#bairro {
    width: 1045px;
}

#save:hover{
    background: rgb(18, 83, 167);
}


#card {
    margin: 20px;
    border: 1px solid #000;
    border-radius: 3px;
    width: max-content;
    min-height: max-content;
    padding: 10px;
}

#cards {
    display: flex;
    flex-direction: row;
}

#delete-button {
    font-size: 15px;
    border: 1px solid #000;
    border-radius: 20px;
    transition: hover 0.2s ease-in-out;
    opacity: 0;
}

#delete-button:hover{
    color: #fff;
    background:red;
    opacity: 1;
}

@media screen and (max-width: 560px) {
    body{
        max-width: 560px;
        max-height: auto;
    }

    #header {
        max-height: auto;
    }

    #header > h1{
        font-size: 30px;
    }

    .main-container {
        margin-top: -20px;
        overflow: hidden;
    }
    
    .inputbox > input{
        min-width: 40px;
        min-height: 20px;
        font-size: 10px;
        padding-left: 10px;
    }
    
    .inputbox > label {
        font-family: 'Dosis', sans-serif;
        font-size: 15px;
    }

    #save {
        margin-bottom: 50px;
        min-width: 200px;
        min-height: 35px;
        font-size: 15px;
        border-radius: 6px;
        margin-bottom: 25px;
    }

    #card {
        margin-left: 20px;
        min-height: auto;
        min-width: 300px;
    }

    #bairro {
        width: 250px;
    }

    #cards {
        flex-direction: column;
    }
}

/* Quando se aplica o "all" significa que as config serão aplicadas para todos os tipos de screen */
/* @media (orietantion: landscape) => aplcia os paramentros conforme o width */
/* @media (orietantion: landscape) => aplcia os paramentros conforme o width */
/* display: none; and visibility: hidden; => faz o elemento ficar invisivel */
